# Ignorar el entorno virtual de Python
venv/
.venv/
ENV/

# Ignorar archivos temporales de ejecución de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignorar reportes de Pytest y cache
.pytest_cache/
.coverage
htmlcov/

# Ignorar imágenes de evidencia locales
*.png